html {
    height: 100%;
    background: #6AF0C6;
}
.body{
    font-family: lato,sans-serif;
}
.text-center{
    text-align: center;
}
#container {
    box-sizing: border-box;
    height: 440px;
    width: 590px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0px 4px 0px 0px #BB7E5D;
    position: relative;
}

#score {
    background-color: #087E8B;
    color: #fff;
/*    box-shadow: 0px 4px #9DA853;*/
    position: absolute;
    left: 500px;
    padding: 11px;
    font-family: lato,sans-serif;
}

#turn,
#winner {
    background: #0B3954;
    color: #fff;
    padding: 11px;
    position: absolute;
    left: 245px;
    border-radius: 10px;
    display: none;
}
#turn{
    background: #BDCFB5;
    color: #333;
}
#cube{
    box-sizing: border-box;
    height: 300px;
    width: 450px;
/*    padding: */
    border-radius: 2px;
    margin: 50px auto 20px auto;
    font-size: 50px;
/*    border: 2px solid #ccc;*/    
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;   
    height: 33.3%;
}
.box{
    border-bottom: 2px solid #3B0D11;
    border-right: 2px solid #3B0D11;
    height: 100%;
    line-height: 150%;
    line-height: 85px;
    cursor: pointer;
    position: relative;
    transition: all .1s;
}
.no-b-b{
    border-bottom: none;
}
.no-b-r{
    border-right: none;
}

.box:active{
    background-color: #3B0D11;
    color: white;
}
#startreset:active{
    background-color: #BFD7EA;
    color: #333;
    transition: .1s;
}
#startreset {
    width: 100px;
    height: 38px;
    background: #087E8B;
    color: #fff;
    margin: 0px auto;
    line-height: 38px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}
#gameover {
    width: 500px;
    height: 200px;
    background: linear-gradient(#F3C76B, #F3746C);
    color: #FFF;
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
}